:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: #111;
  --color-dark-100: #222;
  --color-dark-200:#444;
  --color-dark-300:#666;
  --color-dark-500:#888;
  --color-dark-600:#999;
  --color-dark-700:#b5b5b5;
  --color-dark-800:#d5d5d5;
  --color-dark-900:#f1f1f1;
  --color-accent: #009fbb;
  --color-accent-200: #009fbb;
  --color-accent-300: #009fbb;
  --color-accent-400: #009fbb;
  --color-accent-500: #009fbb;
  --color-accent-600: #009fbb;
  --color-accent-700: #009fbb;
  --color-accent-800: #009fbb;
  --color-accent-900: #009fbb;
  --color-light: #efead8;
  --color-light-200: #efead8;
  --color-light-300: #efead8;
  --color-light-400: #efead8;
  --color-light-500: #efead8;
  --color-light-600: #efead8;
  --color-light-700: #efead8;
  --color-light-800: #efead8;
  --color-light-900: #efead8;
  --font-sans: "Noto Sans", ui-sans-serif, sans-serif;
  --font-serif: "Noto Sans", ui-sans-serif, sans-serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --menu-height: 60px;
  --page-inner: 90rem;
  --grid-container: minmax(2rem, 1fr) [inner-start] minmax(0, var(--page-inner)) [inner-end] minmax(2rem, 1fr);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}

p {
  line-height: var(--line-height);
}

a {
  color: var(--color-light);
  text-decoration: none;
  line-height: var(--line-height);
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.doc-header,
.doc-content,
.doc-footer {
  display: grid;
  grid-template-columns: var(--grid-container);
}
.doc-header__inner,
.doc-content__inner,
.doc-footer__inner {
  grid-column: inner;
}

.doc-content {
  min-height: 100vh;
  padding-top: var(--menu-height);
}
.doc-content__inner {
  display: grid;
  grid-template-columns: minmax(200px, 300px) minmax(0, 75rem) minmax(200px, 300px);
  gap: 2rem;
}

.doc-header {
  height: var(--menu-height);
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #555;
}
.sidebar-nav {
  overflow-y: auto;
}

.doc-footer {
  min-height: 100px;
  background-color: var(--color-dark-100);
}
.doc-content__sidebar, .toc {
  height: calc(100vh - var(--menu-height));
  display: grid;
  grid-template-rows: 1fr 60px;
  position: sticky;
  top: var(--menu-height);
  padding: 0 2rem 0 0;
}

.toc {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 2rem;
}

.sidebar-settings {
  border-top: 1px solid var(--color-dark-200);
  height: 60px;
  position: sticky;
  bottom: 0;
  align-self: end;
}

.hero {
  background-color: black;
}

/*# sourceMappingURL=style.css.map */
