.doc-content__sidebar {
    height: calc( 100vh - var(--menu-height) );
    display: grid;
    grid-template-rows: 1fr 60px;
    position: sticky;
    top: var(--menu-height);
    padding: 0 2rem 0 0;
}

.toc {
    @extend .doc-content__sidebar;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2rem;
}

.sidebar-settings {
    border-top: 1px solid var(--color-dark-200);
    height: 60px;
    position: sticky;
    bottom: 0;
    align-self: end;
}